.btnNew
{
    /* font-family: "Bebas-neue, cursive"; */
    background-color: #E55300;
    border-radius: 10px;
    color: white;
    padding: 2px 14px;
    font-size: 14px;
    margin-left: 42px;
    cursor: pointer;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

span
{
    margin-left: 6px;
}

.buttonWrapper
{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}